<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite" verbose="1">
    
   <!--  <test name="Search">
		<classes>
			<class name="baseSetUp.Base" />
			<class name="testCases.HeaderSearch" />
		</classes>
	</test> -->
	<!--  <test name="Login">
		<classes>
			<class name="baseSetUp.Base" />
			<class name="testCases.LoginTest" />
		</classes>
	</test> -->
	
	  <test name="Kontackt_form">
		<classes>
			<class name="utility.Base" />
			<class name="testCases.KontaktPageTest" />
		</classes>
	</test>
 
</suite>